:root{
    --light: #fff;
    --dark: #000;
}

$clr-light: var(--light);
$clr-dark: var(--dark);

$clr-accent: #fcb222; //need
$clr-primary: #fefefe; //need
$clr-red: #e60033;
$clr-font: #433d3c;
$clr-headersec: #212121; //need
$clr-footer: #171717; //need
$clr-white: #fff;

$sm: "42rem";
$md: "92rem";
$lg: "144rem";
$xl: "180rem";